* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container-1 {
    width: 300px;
    height: 500px;
}

.print-number {
    margin-top: 10px;
    height: 40px;
}

.numbers {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.number {
    flex-basis: 25%;
    display: flex;
    /* align-items: center; */
}

.number > span {
    padding-top: 30px;
    width: 100px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
}

.number > span:hover {
    background-color: lavender;
}

.container-2 {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2 > p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

button {
    width: 100%;
    cursor: pointer;
    height: 24px;
}